.smbexplorer_browser_title {
	font-size:1.3em;
	margin: 0px;
}

.smbexplorer_browser_count {
	font-style: italic;  
}

.smbexplorer_editor {
	background:#FFFFFF;
	overflow-x:hidden;
	z-index: 1;
	width:500px;
	border:solid 3px #F5B965;
	padding:5px;
	display:none;
	/*position:absolute;*/
	position:fixed;
	top: 10px;
}

.smbexplorer_editor_controls {
	text-align:right;
}

.smbexplorer_editor_title {
	font-size:1.1em;
	font-weight: bold;  
	float:left;
}

.smbexplorer_editor_img {
	width:480px;
}

.smbexplorer_editor_file {
	/*border-top:solid 1px #F5B965;*/
}

.smbexplorer_browser_hidden {
	color:gray;
}

.smbexplorer_browser_dir {
	cursor: hand; 
	cursor: pointer;
	font-weight: bold;  
}

.smbexplorer_browser_file {
	cursor: hand; 
	cursor: pointer;
}

.smbexplorer_browser_up {
	cursor: hand; 
	cursor: pointer;
}

/* menu */
.smbexplorer_browser_menu {
	display: none;
	position: absolute;
	
	background:#FFFFFF;
	z-index: 2;
	border:solid 3px #F5B965;
	padding:5px;
}

